.todo-container {
    display: flex;
    flex-direction: column;
}

.todo-title {
    text-align: center;
    padding: 5px;
}

.todo-form {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.todo-form input {
    margin-right: 5px;
}

.todo-list {
    display: flex;
    flex-direction: column;
}

.todo-delete-btn {
    color: red;
    cursor: pointer;
}