.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-left li {
    margin: 0px 5px;
    list-style: none;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.second-level-menu {
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.second-level-menu>li {
    position: relative;
    height: 30px;
}

.top-level-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu>li {
    position: relative;
    float: left;
    height: 30px;
    width: 150px;
}

.top-level-menu li:hover>ul {
    /* On hover, display the next level's menu */
    display: flex;
    flex-direction: column;
}